pipeline/Copy All Data From NetsuiteData to ADLS2.json
{
	"name": "Copy All Data From NetsuiteData to ADLS2",
	"properties": {
		"description": "This is an initial run to get all of the legacy data from the database to the data lake. I want to retire the NetsuiteData database to save cost.",
		"activities": [
			{
				"name": "Get Table Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT *\nFROM SYS.tables",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "NetsuiteData",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "SYS",
							"TableName": "tables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Table Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Table Names').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy to ADLS2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlPoolSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "NetsuiteData",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "dbo",
										"TableName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SinkParquet",
									"type": "DatasetReference",
									"parameters": {
										"file_system": "unified-data-cluster",
										"directory": {
											"value": "@concat('legacy-htm/NetsuiteData/',item().name)",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().name,'-',convertFromUtc(utcnow(),'Eastern Standard Time'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "HTM/Database Migration"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-05T15:36:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}