pipeline/Data Refresh.json
{
	"name": "Data Refresh",
	"properties": {
		"activities": [
			{
				"name": "Get Refresh Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[Config].[DataRefresh]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Modineer",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Refresh Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Refresh Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Switch on RowGroup",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Set Table as Updating_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().RowGroup",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "GloviaProd",
										"activities": [
											{
												"name": "Get SCN Number",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"oracleReaderQuery": {
															"value": "@concat('SELECT MAX(ORA_ROWSCN) AS \"SCNValue\" FROM ',item().SchemaName,'.',item().TableName)",
															"type": "Expression"
														},
														"partitionOption": "None",
														"queryTimeout": "02:00:00"
													},
													"dataset": {
														"referenceName": "GloviaProd",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@item().TableName",
																"type": "Expression"
															},
															"schemaname": {
																"value": "@item().SchemaName",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "Update SCN",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Get SCN Number",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "Modineer",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[Config].[UpdateSCN]",
													"storedProcedureParameters": {
														"Id": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"SCN": {
															"value": {
																"value": "@activity('Get SCN Number').output.firstRow.SCNValue",
																"type": "Expression"
															},
															"type": "Int64"
														}
													}
												}
											},
											{
												"name": "Raw Data Copy",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Update SCN",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": true,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"partitionOption": "None",
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "GloviaProd",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@item().TableName",
																"type": "Expression"
															},
															"schemaname": {
																"value": "@item().SchemaName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "SinkParquet",
														"type": "DatasetReference",
														"parameters": {
															"file_system": {
																"value": "@item().FileSystem",
																"type": "Expression"
															},
															"directory": {
																"value": "@concat(item().SchemaName,'/',item().TableName)",
																"type": "Expression"
															},
															"file_name": {
																"value": "@concat(item().TableName,'.parquet')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Set Table to Processed",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Raw Data Copy",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "Modineer",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[Config].[SetAsUpdated]",
													"storedProcedureParameters": {
														"rowId": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												}
											},
											{
												"name": "Failed To Update",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Raw Data Copy",
														"dependencyConditions": [
															"Failed"
														]
													},
													{
														"activity": "Update SCN",
														"dependencyConditions": [
															"Failed"
														]
													},
													{
														"activity": "Get SCN Number",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "Modineer",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[Config].[FailedToUpdate]",
													"storedProcedureParameters": {
														"RowId": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"RowSCN": {
															"value": {
																"value": "@item().TableMaxSCN",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												}
											}
										]
									},
									{
										"value": "Netsuite",
										"activities": [
											{
												"name": "Execute Netsuite Data Refresh",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Netsuite Data Refresh",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"item": {
															"value": "@item()",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Set as Updated",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Execute Netsuite Data Refresh",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "Modineer",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[Config].[SetAsUpdated]",
													"storedProcedureParameters": {
														"rowId": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												}
											},
											{
												"name": "Failed",
												"type": "SqlPoolStoredProcedure",
												"dependsOn": [
													{
														"activity": "Execute Netsuite Data Refresh",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"sqlPool": {
													"referenceName": "Modineer",
													"type": "SqlPoolReference"
												},
												"typeProperties": {
													"storedProcedureName": "[Config].[FailedToUpdate]",
													"storedProcedureParameters": {
														"RowId": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"RowSCN": {
															"value": "0",
															"type": "Int32"
														}
													}
												}
											}
										]
									},
									{
										"value": "Plex",
										"activities": [
											{
												"name": "Wait1",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Place Holder",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						},
						{
							"name": "Set Table as Updating_copy1",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "Modineer",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[Config].[SetAsUpdating]",
								"storedProcedureParameters": {
									"interval": {
										"value": {
											"value": "@item().RefreshInterval",
											"type": "Expression"
										},
										"type": "String"
									},
									"intervalQty": {
										"value": {
											"value": "@item().RefreshNumber",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"nextRefresh": {
										"value": {
											"value": "@item().NextRefresh",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"rowId": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Master Data"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-12T20:33:37Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}