pipeline/Data Merge.json
{
	"name": "Data Merge",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check If Table Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check If Table Exists').output.firstRow.name,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy Entire Table To SQL Pool",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'Delta'}.@{pipeline().parameters.item.TableName}"
								},
								{
									"name": "Destination",
									"value": "@{pipeline().parameters.item.SchemaName}.@{pipeline().parameters.item.TableName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "SqlDWSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GloviaProd",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.item.TableName",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@pipeline().parameters.item.SchemaName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseDatabase",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.item.TableName",
											"type": "Expression"
										},
										"DbName": {
											"value": "@pipeline().parameters.item.DbName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@pipeline().parameters.item.SchemaName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Merge SP After Table Created",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "Raw Data Copy - SQL Pool",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "Modineer",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[Config].[usp_MergeData]",
								"storedProcedureParameters": {
									"KeyColumns": {
										"value": {
											"value": "@pipeline().parameters.item.TableKeysArray",
											"type": "Expression"
										},
										"type": "String"
									},
									"SchemaName": {
										"value": {
											"value": "@pipeline().parameters.item.SchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.item.TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "Raw Data Copy - SQL Pool",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy Entire Table To SQL Pool",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().SchemaName}.@{item().TableName}"
								},
								{
									"name": "Destination",
									"value": "@{'Delta'}.@{item().TableName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ReadParquet",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": {
											"value": "@pipeline().parameters.item.FileSystem",
											"type": "Expression"
										},
										"FilePath": {
											"value": "@{pipeline().parameters.item.SchemaName}/@{pipeline().parameters.item.TableName}/@{pipeline().parameters.DateData.Year}/@{pipeline().parameters.DateData.Month}/@{pipeline().parameters.DateData.Day}/**",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseDatabase",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.item.TableName",
											"type": "Expression"
										},
										"DbName": {
											"value": "@pipeline().parameters.item.DbName",
											"type": "Expression"
										},
										"SchemaName": "Delta"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Merge SP",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "Modineer",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[Config].[usp_MergeData]",
								"storedProcedureParameters": {
									"KeyColumns": {
										"value": {
											"value": "@pipeline().parameters.item.TableKeysArray",
											"type": "Expression"
										},
										"type": "String"
									},
									"SchemaName": {
										"value": {
											"value": "@pipeline().parameters.item.SchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.item.TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Check If Table Exists",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[Config].[usp_CreateTableIfNotExistant]",
						"storedProcedureParameters": {
							"SchemaName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.item.SchemaName",
									"type": "Expression"
								}
							},
							"TableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.item.TableName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Modineer",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"item": {
				"type": "object"
			},
			"DateData": {
				"type": "object"
			}
		},
		"folder": {
			"name": "Master Data/Slave Pipeline"
		},
		"annotations": []
	}
}