pipeline/Data Refresh Delta.json
{
	"name": "Data Refresh Delta",
	"properties": {
		"activities": [
			{
				"name": "Get Refresh Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get EST Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[Config].[DataRefresh]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Modineer",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Refresh Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Refresh Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Switch on RowGroup",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Set Table as Updating",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().RowGroup",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "GloviaProd",
										"activities": [
											{
												"name": "Glovia Delta Refresh",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Glovia Delta Refresh",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Item": {
															"value": "@item()",
															"type": "Expression"
														},
														"EstDate": {
															"value": "@activity('Get EST Date').output",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Netsuite",
										"activities": [
											{
												"name": "Execute Netsuite Data Refresh",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Netsuite Data Refresh",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"item": {
															"value": "@item()",
															"type": "Expression"
														},
														"EstDate": {
															"value": "@activity('Get EST Date').output.firstRow",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Plex",
										"activities": [
											{
												"name": "Plex Data Refresh",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "Plex Data Refresh - Data Count",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"item": {
															"value": "@item()",
															"type": "Expression"
														},
														"EstDate": {
															"value": "@activity('Get EST Date').output",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Place Holder",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						},
						{
							"name": "Set Table as Updating",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "Modineer",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[Config].[SetAsUpdating]",
								"storedProcedureParameters": {
									"nextRefresh": {
										"value": {
											"value": "@addToTime(utcnow(),item().RefreshNumber,item().RefreshInterval)",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"rowId": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							}
						},
						{
							"name": "Set Table to Processed",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "Switch on RowGroup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "Modineer",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[Config].[SetAsUpdated]",
								"storedProcedureParameters": {
									"rowId": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							}
						},
						{
							"name": "Failed To Update",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "Switch on RowGroup",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "Modineer",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[Config].[FailedToUpdate]",
								"storedProcedureParameters": {
									"RowId": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowSCN": {
										"value": {
											"value": "@item().TableMaxSCN",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get EST Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[Config].[usp_GetESTDate]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Modineer",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "Master Data"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-12T20:33:37Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}