pipeline/Full Data Refresh.json
{
	"name": "Full Data Refresh",
	"properties": {
		"activities": [
			{
				"name": "Get All Table Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM Config.DataRefreshSchedule",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Modineer",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Table Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Table Data').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "Determine Source_copy1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().SchemaName",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "GLOVIA_PROD",
										"activities": [
											{
												"name": "Replicate Tables_copy1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Destination",
														"value": "@{item().SchemaName}.@{item().TableName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"partitionOption": "None",
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "SqlDWSink",
														"preCopyScript": {
															"value": "TRUNCATE TABLE @{item().SchemaName}.@{item().TableName}",
															"type": "Expression"
														},
														"disableMetricsCollection": false
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "modineerlake",
															"type": "LinkedServiceReference"
														}
													}
												},
												"inputs": [
													{
														"referenceName": "GloviaProd",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@item().TableName",
																"type": "Expression"
															},
															"schemaname": {
																"value": "@item().SchemaName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzureSynapseDatabase",
														"type": "DatasetReference",
														"parameters": {
															"TableName": {
																"value": "@item().TableName",
																"type": "Expression"
															},
															"DbName": {
																"value": "@item().DbName",
																"type": "Expression"
															},
															"SchemaName": {
																"value": "@item().SchemaName",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Wait1_copy1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Master Data"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-24T14:09:12Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}