pipeline/Glovia Delta Refresh.json
{
	"name": "Glovia Delta Refresh",
	"properties": {
		"activities": [
			{
				"name": "Get SCN Number",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT MAX(ORA_ROWSCN) AS \"SCNValue\" FROM ',pipeline().parameters.Item.SchemaName,'.',pipeline().parameters.Item.TableName)",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "GloviaProd",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.Item.TableName",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.Item.SchemaName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Update SCN",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get SCN Number",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "Modineer",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[Config].[UpdateSCN]",
					"storedProcedureParameters": {
						"Id": {
							"value": {
								"value": "@pipeline().parameters.Item.Id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SCN": {
							"value": {
								"value": "@activity('Get SCN Number').output.firstRow.SCNValue",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				}
			},
			{
				"name": "Glovia Raw Data Copy - ADLS2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update SCN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{item().SchemaName}.@{item().TableName}"
					},
					{
						"name": "Destination",
						"value": "@{item().FileSystem}/@{concat(item().SchemaName, '/', item().TableName, '/', activity('Get EST Date').output.firstRow.Year, '/', activity('Get EST Date').output.firstRow.Month, '/', activity('Get EST Date').output.firstRow.Day)}/@{concat(item().TableName, '-', activity('Get EST Date').output.firstRow.EST)}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.Item.SchemaName}.@{pipeline().parameters.Item.TableName} VERSIONS BETWEEN TIMESTAMP TO_TIMESTAMP(REPLACE(REPLACE('@{addminutes(pipeline().parameters.Item.LastRefreshStart,-15)}','T',' '),'Z',''), 'YYYY-MM-DD HH24:MI:SS.FF') AND CURRENT_TIMESTAMP WHERE versions_operation IN ('D','U','I') AND versions_endtime IS NULL",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GloviaProd",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.Item.TableName",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.Item.SchemaName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SinkParquet",
						"type": "DatasetReference",
						"parameters": {
							"file_system": {
								"value": "@pipeline().parameters.Item.FileSystem",
								"type": "Expression"
							},
							"directory": {
								"value": "@{pipeline().parameters.Item.SchemaName}/@{pipeline().parameters.Item.TableName}/@{pipeline().parameters.EstDate.firstRow.Year}/@{pipeline().parameters.EstDate.firstRow.Month}/@{pipeline().parameters.EstDate.firstRow.Day}",
								"type": "Expression"
							},
							"file_name": {
								"value": "@{pipeline().parameters.Item.TableName}-@{pipeline().parameters.EstDate.firstRow.EST}.parquet",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Glovia Raw Data Copy - SQL Pool",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update SCN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{item().SchemaName}.@{item().TableName}"
					},
					{
						"name": "Destination",
						"value": "@{'Delta'}.@{item().TableName}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.Item.SchemaName}.@{pipeline().parameters.Item.TableName} VERSIONS BETWEEN TIMESTAMP TO_TIMESTAMP(REPLACE(REPLACE('@{addminutes(pipeline().parameters.Item.LastRefreshStart,-15)}','T',' '),'Z',''), 'YYYY-MM-DD HH24:MI:SS.FF') AND CURRENT_TIMESTAMP WHERE versions_operation IN ('D','U','I') AND versions_endtime IS NULL",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE @{pipeline().parameters.Item.StagingSchema}.@{pipeline().parameters.Item.TableName}",
							"type": "Expression"
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GloviaProd",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.Item.TableName",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.Item.SchemaName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseDatabase",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.Item.TableName",
								"type": "Expression"
							},
							"DbName": {
								"value": "@pipeline().parameters.Item.DbName",
								"type": "Expression"
							},
							"SchemaName": {
								"value": "@pipeline().parameters.Item.StagingSchema",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Glovia Create Table Or Merge Data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Glovia Raw Data Copy - SQL Pool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Data Merge",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"item": {
							"value": "@pipeline().parameters.Item",
							"type": "Expression"
						},
						"DateData": {
							"value": "@pipeline().parameters.EstDate.firstRow",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Item": {
				"type": "object"
			},
			"EstDate": {
				"type": "object"
			}
		},
		"folder": {
			"name": "Master Data/Slave Pipelines/Glovia Data Refresh"
		},
		"annotations": []
	}
}