pipeline/HTM Legacy Customers to ADLS2.json
{
	"name": "HTM Legacy Customers to ADLS2",
	"properties": {
		"activities": [
			{
				"name": "Post Refresh Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.account_id,'.suitetalk.api.netsuite.com/services/rest/auth/oauth2/v1/token')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Authorization": {
							"value": "@concat('Basic ', variables('auth'))",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('grant_type=refresh_token&refresh_token=',variables('refresh_token'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Pages Customers",
				"description": "Makes a dummy REST call to get the total number of pages.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Post Refresh Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.account_id,'.suitetalk.api.netsuite.com/services/rest/query/v1/suiteql')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(activity('Post Refresh Token').output.token_type,' ',activity('Post Refresh Token').output.access_token)",
							"type": "Expression"
						},
						"Prefer": "transient",
						"Content-Type": "application/json"
					},
					"body": {
						"q": "SELECT id FROM customer"
					}
				}
			},
			{
				"name": "ForEach Customer",
				"description": "For each loop to recursively copy data to the data lake for each page of 1000 customers. ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Pages Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,add(div(sub(int(activity('Get Pages Customers').output.totalResults),mod(int(activity('Get Pages Customers').output.totalResults),1000)),1000),1))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "JSON To Data Lake_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{concat('?limit=1000&offset=',string(mul(item(),1000)))}"
								},
								{
									"name": "Destination",
									"value": "unified-data-cluster/legacy-htm/sales-order-headers/@{concat('sales-order-hed-',guid())}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "{\"q\": \"SELECT * FROM customer\"}",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat(activity('Post Refresh Token').output.token_type,' ',activity('Post Refresh Token').output.access_token)",
											"type": "Expression"
										},
										"Content-Type": "application/json",
										"Prefer": "transient"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['assetaccount']"
											},
											"sink": {
												"path": "$['assetaccount']"
											}
										},
										{
											"source": {
												"path": "['atpmethod']"
											},
											"sink": {
												"path": "$['atpmethod']"
											}
										},
										{
											"source": {
												"path": "['averagecost']"
											},
											"sink": {
												"path": "$['averagecost']"
											}
										},
										{
											"source": {
												"path": "['billpricevarianceacct']"
											},
											"sink": {
												"path": "$['billpricevarianceacct']"
											}
										},
										{
											"source": {
												"path": "['billqtyvarianceacct']"
											},
											"sink": {
												"path": "$['billqtyvarianceacct']"
											}
										},
										{
											"source": {
												"path": "['buildentireassembly']"
											},
											"sink": {
												"path": "$['buildentireassembly']"
											}
										},
										{
											"source": {
												"path": "['consumptionunit']"
											},
											"sink": {
												"path": "$['consumptionunit']"
											}
										},
										{
											"source": {
												"path": "['copydescription']"
											},
											"sink": {
												"path": "$['copydescription']"
											}
										},
										{
											"source": {
												"path": "['costingmethod']"
											},
											"sink": {
												"path": "$['costingmethod']"
											}
										},
										{
											"source": {
												"path": "['costingmethoddisplay']"
											},
											"sink": {
												"path": "$['costingmethoddisplay']"
											}
										},
										{
											"source": {
												"path": "['createddate']"
											},
											"sink": {
												"path": "$['createddate']"
											}
										},
										{
											"source": {
												"path": "['custitem_demandcadence']"
											},
											"sink": {
												"path": "$['custitem_demandcadence']"
											}
										},
										{
											"source": {
												"path": "['custitem_ht_item_line']"
											},
											"sink": {
												"path": "$['custitem_ht_item_line']"
											}
										},
										{
											"source": {
												"path": "['custitem_htskidqty']"
											},
											"sink": {
												"path": "$['custitem_htskidqty']"
											}
										},
										{
											"source": {
												"path": "['custitem_reqtanklabel']"
											},
											"sink": {
												"path": "$['custitem_reqtanklabel']"
											}
										},
										{
											"source": {
												"path": "['custitemht_additionaltankdetailneeded']"
											},
											"sink": {
												"path": "$['custitemht_additionaltankdetailneeded']"
											}
										},
										{
											"source": {
												"path": "['custitemht_buildtostock']"
											},
											"sink": {
												"path": "$['custitemht_buildtostock']"
											}
										},
										{
											"source": {
												"path": "['custitemht_preprocessingrequired']"
											},
											"sink": {
												"path": "$['custitemht_preprocessingrequired']"
											}
										},
										{
											"source": {
												"path": "['custitemht_pricingneeded']"
											},
											"sink": {
												"path": "$['custitemht_pricingneeded']"
											}
										},
										{
											"source": {
												"path": "['custitemht_productline']"
											},
											"sink": {
												"path": "$['custitemht_productline']"
											}
										},
										{
											"source": {
												"path": "['custitemht_tankbracketfoot']"
											},
											"sink": {
												"path": "$['custitemht_tankbracketfoot']"
											}
										},
										{
											"source": {
												"path": "['custitemht_tanktypepricing']"
											},
											"sink": {
												"path": "$['custitemht_tanktypepricing']"
											}
										},
										{
											"source": {
												"path": "['custitemhtdrawingurl']"
											},
											"sink": {
												"path": "$['custitemhtdrawingurl']"
											}
										},
										{
											"source": {
												"path": "['custitemhtitemtype']"
											},
											"sink": {
												"path": "$['custitemhtitemtype']"
											}
										},
										{
											"source": {
												"path": "['custitemhtlayoutdrawingurl']"
											},
											"sink": {
												"path": "$['custitemhtlayoutdrawingurl']"
											}
										},
										{
											"source": {
												"path": "['custitemhttankbodylength']"
											},
											"sink": {
												"path": "$['custitemhttankbodylength']"
											}
										},
										{
											"source": {
												"path": "['custitemhttankbonuspoints']"
											},
											"sink": {
												"path": "$['custitemhttankbonuspoints']"
											}
										},
										{
											"source": {
												"path": "['custitemhttankcoatingexterior']"
											},
											"sink": {
												"path": "$['custitemhttankcoatingexterior']"
											}
										},
										{
											"source": {
												"path": "['custitemhttankcoatinginterior']"
											},
											"sink": {
												"path": "$['custitemhttankcoatinginterior']"
											}
										},
										{
											"source": {
												"path": "['custitemhttankhead']"
											},
											"sink": {
												"path": "$['custitemhttankhead']"
											}
										},
										{
											"source": {
												"path": "['custitemhttankmainbodyport']"
											},
											"sink": {
												"path": "$['custitemhttankmainbodyport']"
											}
										},
										{
											"source": {
												"path": "['custitemhttankseries']"
											},
											"sink": {
												"path": "$['custitemhttankseries']"
											}
										},
										{
											"source": {
												"path": "['custitemhttanktype']"
											},
											"sink": {
												"path": "$['custitemhttanktype']"
											}
										},
										{
											"source": {
												"path": "['description']"
											},
											"sink": {
												"path": "$['description']"
											}
										},
										{
											"source": {
												"path": "['displayname']"
											},
											"sink": {
												"path": "$['displayname']"
											}
										},
										{
											"source": {
												"path": "['dontshowprice']"
											},
											"sink": {
												"path": "$['dontshowprice']"
											}
										},
										{
											"source": {
												"path": "['effectivebomcontrol']"
											},
											"sink": {
												"path": "$['effectivebomcontrol']"
											}
										},
										{
											"source": {
												"path": "['enforceminqtyinternally']"
											},
											"sink": {
												"path": "$['enforceminqtyinternally']"
											}
										},
										{
											"source": {
												"path": "['excludefromsitemap']"
											},
											"sink": {
												"path": "$['excludefromsitemap']"
											}
										},
										{
											"source": {
												"path": "['expenseaccount']"
											},
											"sink": {
												"path": "$['expenseaccount']"
											}
										},
										{
											"source": {
												"path": "['froogleproductfeed']"
											},
											"sink": {
												"path": "$['froogleproductfeed']"
											}
										},
										{
											"source": {
												"path": "['fullname']"
											},
											"sink": {
												"path": "$['fullname']"
											}
										},
										{
											"source": {
												"path": "['generateaccruals']"
											},
											"sink": {
												"path": "$['generateaccruals']"
											}
										},
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"path": "$['id']"
											}
										},
										{
											"source": {
												"path": "['includechildren']"
											},
											"sink": {
												"path": "$['includechildren']"
											}
										},
										{
											"source": {
												"path": "['incomeaccount']"
											},
											"sink": {
												"path": "$['incomeaccount']"
											}
										},
										{
											"source": {
												"path": "['isdonationitem']"
											},
											"sink": {
												"path": "$['isdonationitem']"
											}
										},
										{
											"source": {
												"path": "['isdropshipitem']"
											},
											"sink": {
												"path": "$['isdropshipitem']"
											}
										},
										{
											"source": {
												"path": "['isfulfillable']"
											},
											"sink": {
												"path": "$['isfulfillable']"
											}
										},
										{
											"source": {
												"path": "['isinactive']"
											},
											"sink": {
												"path": "$['isinactive']"
											}
										},
										{
											"source": {
												"path": "['islotitem']"
											},
											"sink": {
												"path": "$['islotitem']"
											}
										},
										{
											"source": {
												"path": "['isonline']"
											},
											"sink": {
												"path": "$['isonline']"
											}
										},
										{
											"source": {
												"path": "['isphantom']"
											},
											"sink": {
												"path": "$['isphantom']"
											}
										},
										{
											"source": {
												"path": "['isspecialorderitem']"
											},
											"sink": {
												"path": "$['isspecialorderitem']"
											}
										},
										{
											"source": {
												"path": "['isspecialworkorderitem']"
											},
											"sink": {
												"path": "$['isspecialworkorderitem']"
											}
										},
										{
											"source": {
												"path": "['itemid']"
											},
											"sink": {
												"path": "$['itemid']"
											}
										},
										{
											"source": {
												"path": "['itemtype']"
											},
											"sink": {
												"path": "$['itemtype']"
											}
										},
										{
											"source": {
												"path": "['lastmodifieddate']"
											},
											"sink": {
												"path": "$['lastmodifieddate']"
											}
										},
										{
											"source": {
												"path": "['lastpurchaseprice']"
											},
											"sink": {
												"path": "$['lastpurchaseprice']"
											}
										},
										{
											"source": {
												"path": "['matchbilltoreceipt']"
											},
											"sink": {
												"path": "$['matchbilltoreceipt']"
											}
										},
										{
											"source": {
												"path": "['nextagproductfeed']"
											},
											"sink": {
												"path": "$['nextagproductfeed']"
											}
										},
										{
											"source": {
												"path": "['preferredlocation']"
											},
											"sink": {
												"path": "$['preferredlocation']"
											}
										},
										{
											"source": {
												"path": "['printitems']"
											},
											"sink": {
												"path": "$['printitems']"
											}
										},
										{
											"source": {
												"path": "['purchaseunit']"
											},
											"sink": {
												"path": "$['purchaseunit']"
											}
										},
										{
											"source": {
												"path": "['roundupascomponent']"
											},
											"sink": {
												"path": "$['roundupascomponent']"
											}
										},
										{
											"source": {
												"path": "['saleunit']"
											},
											"sink": {
												"path": "$['saleunit']"
											}
										},
										{
											"source": {
												"path": "['seasonaldemand']"
											},
											"sink": {
												"path": "$['seasonaldemand']"
											}
										},
										{
											"source": {
												"path": "['shipindividually']"
											},
											"sink": {
												"path": "$['shipindividually']"
											}
										},
										{
											"source": {
												"path": "['shoppingproductfeed']"
											},
											"sink": {
												"path": "$['shoppingproductfeed']"
											}
										},
										{
											"source": {
												"path": "['shopzillaproductfeed']"
											},
											"sink": {
												"path": "$['shopzillaproductfeed']"
											}
										},
										{
											"source": {
												"path": "['showdefaultdonationamount']"
											},
											"sink": {
												"path": "$['showdefaultdonationamount']"
											}
										},
										{
											"source": {
												"path": "['stockdescription']"
											},
											"sink": {
												"path": "$['stockdescription']"
											}
										},
										{
											"source": {
												"path": "['stockunit']"
											},
											"sink": {
												"path": "$['stockunit']"
											}
										},
										{
											"source": {
												"path": "['subsidiary']"
											},
											"sink": {
												"path": "$['subsidiary']"
											}
										},
										{
											"source": {
												"path": "['supplyreplenishmentmethod']"
											},
											"sink": {
												"path": "$['supplyreplenishmentmethod']"
											}
										},
										{
											"source": {
												"path": "['totalquantityonhand']"
											},
											"sink": {
												"path": "$['totalquantityonhand']"
											}
										},
										{
											"source": {
												"path": "['totalvalue']"
											},
											"sink": {
												"path": "$['totalvalue']"
											}
										},
										{
											"source": {
												"path": "['unitstype']"
											},
											"sink": {
												"path": "$['unitstype']"
											}
										},
										{
											"source": {
												"path": "['usecomponentyield']"
											},
											"sink": {
												"path": "$['usecomponentyield']"
											}
										},
										{
											"source": {
												"path": "['usemarginalrates']"
											},
											"sink": {
												"path": "$['usemarginalrates']"
											}
										},
										{
											"source": {
												"path": "['weight']"
											},
											"sink": {
												"path": "$['weight']"
											}
										},
										{
											"source": {
												"path": "['weightunit']"
											},
											"sink": {
												"path": "$['weightunit']"
											}
										},
										{
											"source": {
												"path": "['weightunits']"
											},
											"sink": {
												"path": "$['weightunits']"
											}
										},
										{
											"source": {
												"path": "['yahooproductfeed']"
											},
											"sink": {
												"path": "$['yahooproductfeed']"
											}
										}
									],
									"collectionReference": "$['items']"
								}
							},
							"inputs": [
								{
									"referenceName": "HTM_Netsuite_SuiteQL",
									"type": "DatasetReference",
									"parameters": {
										"account_id": {
											"value": "@pipeline().parameters.account_id",
											"type": "Expression"
										},
										"offset": {
											"value": "@mul(int(item()),1000)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Legacy_HTM_Customers",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"account_id": {
				"type": "String",
				"defaultValue": "3675944"
			},
			"code": {
				"type": "String",
				"defaultValue": "9c40e8439004c9b291e11da13263dcc29f839a2c4684bb6820ad4443c610cb57"
			}
		},
		"variables": {
			"refresh_token": {
				"type": "String",
				"defaultValue": "eyJraWQiOiJjLjM2NzU5NDQuMjAyMS0xMC0wNF8wMC0wOC0xMiIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIzOzU3MzAiLCJhdWQiOlsiRjE2QTczNUUtNUQ1Mi00RDFCLTk1QzUtMUU5MTdENUQwQzAzOzM2NzU5NDQiLCJkMGQxOTJlMmVhNmNkNjMyZjViNTc3NWE3N2RmODM1MWUxZjlhZjQ2M2Y5YmUyYmI1YzQzMTBhOTRiNmNhNmQyIl0sInNjb3BlIjpbInJlc3RsZXRzIiwicmVzdF93ZWJzZXJ2aWNlcyJdLCJpc3MiOiJodHRwczpcL1wvc3lzdGVtLm5ldHN1aXRlLmNvbSIsIm9pdCI6MTYzMzYzNzE0MSwiZXhwIjoxNjM0MjQxOTQxLCJpYXQiOjE2MzM2MzcxNDEsImp0aSI6IjM2NzU5NDQuci1hLjc2ZjExODEyLTFkOWMtNDkzZS1hNmJkLTE1NGJmOWI0YjFmMl8xNjMzNjM3MTQxMzgwLjAifQ.ZK2_AXfNEsu0pYusg0jJAR1DYukWomqf5BmrjzcDt76-tmFKlilDTBzhpp3Lzu3zC_YODv2i_ZsCJc-SqtjAJCuMEqk4ld3UlG1j_uXqteSdYukMQMfPdTAmF3XbQoSqMq0lwfDAMOGm-9uekN1SUgVbcF0jqhsN_pS-It1fJKHFW43LeeedqgVShkqBAcnOF86d2dS2L3tB-98lFuNx_FrMDDJ3gmM34OXKS604wvmffNivX7F1eZnoARbi9vLV0cZUjiL5mLi6riXfzW09JyrwihX9obfcv8vAVsOX7oViucjzP6TPIr02u95N43iUv5T3eV6tEmtm0o9iuSoV0e5iknlKEbk5__WnE0xIaBX2Gwgljhd2a3dly_L3EGfeU0Gra67LHJnDOvpEMqHNZvGr1NUhI_Z6oq05oSbbiP8in7oF2j1iSOkbFY-qoAW9u0pZ-VWSGVM6Ffa9S-5wjQQ0jFOZrMQkXcS0LOI1WQJBQbxNlbDotyRTrONrh8tP55KjZ2LkmsaY634F_l4gTg-HQF7VBaSoFynw6WdsflzhUD8yKGkx5byzCH3KPxKYw0ULMjz6jgKwClZ_Qh_6cNzDC-QnRlQr4XE6aydn8CUpMC9xE1POVjkLIq_ELA5yO3NqWwR1HgLWTrWI0fpt4IuyQ89Hthf9EWsmzOOl-BI"
			},
			"query_string": {
				"type": "String"
			},
			"line_query_string": {
				"type": "String"
			},
			"client_id_base64": {
				"type": "String",
				"defaultValue": "ZDBkMTkyZTJlYTZjZDYzMmY1YjU3NzVhNzdkZjgzNTFlMWY5YWY0NjNmOWJlMmJiNWM0MzEwYTk0YjZjYTZkMjoxNjJiYzljMDQ4MTViNGI3NzhkMDQ4ODEwZWVmOGI3NzZkZjQzYjA0Y2ViMGY3NWMxNzcxN2RiZTY4YmU2OWMy"
			},
			"client_id": {
				"type": "String",
				"defaultValue": "d0d192e2ea6cd632f5b5775a77df8351e1f9af463f9be2bb5c4310a94b6ca6d2"
			},
			"client_secret": {
				"type": "String",
				"defaultValue": "162bc9c04815b4b778d048810eef8b776df43b04ceb0f75c17717dbe68be69c2"
			},
			"auth": {
				"type": "String",
				"defaultValue": "ZDBkMTkyZTJlYTZjZDYzMmY1YjU3NzVhNzdkZjgzNTFlMWY5YWY0NjNmOWJlMmJiNWM0MzEwYTk0YjZjYTZkMjoxNjJiYzljMDQ4MTViNGI3NzhkMDQ4ODEwZWVmOGI3NzZkZjQzYjA0Y2ViMGY3NWMxNzcxN2RiZTY4YmU2OWMy"
			},
			"pages": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "HTM"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-20T16:17:09Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}