pipeline/HTM Legacy Cash Sale Headers to ADLS2.json
{
	"name": "HTM Legacy Cash Sale Headers to ADLS2",
	"properties": {
		"activities": [
			{
				"name": "Post Refresh Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.account_id,'.suitetalk.api.netsuite.com/services/rest/auth/oauth2/v1/token')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Authorization": {
							"value": "@concat('Basic ', variables('auth'))",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('grant_type=refresh_token&refresh_token=',variables('refresh_token'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Pages",
				"description": "Makes a dummy REST call to get the total number of pages.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Post Refresh Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.account_id,'.suitetalk.api.netsuite.com/services/rest/query/v1/suiteql')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(activity('Post Refresh Token').output.token_type,' ',activity('Post Refresh Token').output.access_token)",
							"type": "Expression"
						},
						"Prefer": "transient",
						"Content-Type": "application/json"
					},
					"body": {
						"q": "SELECT  id FROM transaction WHERE recordtype LIKE 'cashsale'"
					}
				}
			},
			{
				"name": "ForEach Cash Sale",
				"description": "For each loop to recursively copy data to the data lake for each page of 1000 customers. ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,add(div(sub(int(activity('Get Pages').output.totalResults),mod(int(activity('Get Pages').output.totalResults),1000)),1000),1))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "JSON To Data Lake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Post Refresh Token_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{concat('?limit=1000&offset=',string(mul(item(),1000)))}"
								},
								{
									"name": "Destination",
									"value": "unified-data-cluster/legacy-htm/sales-order-headers/@{concat('sales-order-hed-',guid())}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "{\"q\":\"SELECT * FROM transaction WHERE recordtype LIKE 'cashsale' ORDER BY 'createddate'\"}",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat(activity('Post Refresh Token_copy1').output.token_type,' ',activity('Post Refresh Token_copy1').output.access_token)",
											"type": "Expression"
										},
										"Content-Type": "application/json",
										"Prefer": "transient"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"parallelCopies": 4,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['abbrevtype']"
											},
											"sink": {
												"path": "$['abbrevtype']"
											}
										},
										{
											"source": {
												"path": "['balsegstatus']"
											},
											"sink": {
												"path": "$['balsegstatus']"
											}
										},
										{
											"source": {
												"path": "['billingstatus']"
											},
											"sink": {
												"path": "$['billingstatus']"
											}
										},
										{
											"source": {
												"path": "['createdby']"
											},
											"sink": {
												"path": "$['createdby']"
											}
										},
										{
											"source": {
												"path": "['createddate']"
											},
											"sink": {
												"path": "$['createddate']"
											}
										},
										{
											"source": {
												"path": "['currency']"
											},
											"sink": {
												"path": "$['currency']"
											}
										},
										{
											"source": {
												"path": "['custbody_reqtanklabel']"
											},
											"sink": {
												"path": "$['custbody_reqtanklabel']"
											}
										},
										{
											"source": {
												"path": "['custbodyhtallowworkorderclose']"
											},
											"sink": {
												"path": "$['custbodyhtallowworkorderclose']"
											}
										},
										{
											"source": {
												"path": "['custbodyhthaschangeorders']"
											},
											"sink": {
												"path": "$['custbodyhthaschangeorders']"
											}
										},
										{
											"source": {
												"path": "['custbodyhtisclosedworkorderbuildunbld']"
											},
											"sink": {
												"path": "$['custbodyhtisclosedworkorderbuildunbld']"
											}
										},
										{
											"source": {
												"path": "['custbodyhtsalesorder']"
											},
											"sink": {
												"path": "$['custbodyhtsalesorder']"
											}
										},
										{
											"source": {
												"path": "['custbodyhtworkorderttype']"
											},
											"sink": {
												"path": "$['custbodyhtworkorderttype']"
											}
										},
										{
											"source": {
												"path": "['exchangerate']"
											},
											"sink": {
												"path": "$['exchangerate']"
											}
										},
										{
											"source": {
												"path": "['foreigntotal']"
											},
											"sink": {
												"path": "$['foreigntotal']"
											}
										},
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"path": "$['id']"
											}
										},
										{
											"source": {
												"path": "['includeinforecast']"
											},
											"sink": {
												"path": "$['includeinforecast']"
											}
										},
										{
											"source": {
												"path": "['isactualprodenddateenteredmanually']"
											},
											"sink": {
												"path": "$['isactualprodenddateenteredmanually']"
											}
										},
										{
											"source": {
												"path": "['isactualprodstartdateenteredmanually']"
											},
											"sink": {
												"path": "$['isactualprodstartdateenteredmanually']"
											}
										},
										{
											"source": {
												"path": "['isfinchrg']"
											},
											"sink": {
												"path": "$['isfinchrg']"
											}
										},
										{
											"source": {
												"path": "['isreversal']"
											},
											"sink": {
												"path": "$['isreversal']"
											}
										},
										{
											"source": {
												"path": "['lastmodifiedby']"
											},
											"sink": {
												"path": "$['lastmodifiedby']"
											}
										},
										{
											"source": {
												"path": "['lastmodifieddate']"
											},
											"sink": {
												"path": "$['lastmodifieddate']"
											}
										},
										{
											"source": {
												"path": "['nexus']"
											},
											"sink": {
												"path": "$['nexus']"
											}
										},
										{
											"source": {
												"path": "['number']"
											},
											"sink": {
												"path": "$['number']"
											}
										},
										{
											"source": {
												"path": "['ordpicked']"
											},
											"sink": {
												"path": "$['ordpicked']"
											}
										},
										{
											"source": {
												"path": "['paymenthold']"
											},
											"sink": {
												"path": "$['paymenthold']"
											}
										},
										{
											"source": {
												"path": "['posting']"
											},
											"sink": {
												"path": "$['posting']"
											}
										},
										{
											"source": {
												"path": "['postingperiod']"
											},
											"sink": {
												"path": "$['postingperiod']"
											}
										},
										{
											"source": {
												"path": "['printedpickingticket']"
											},
											"sink": {
												"path": "$['printedpickingticket']"
											}
										},
										{
											"source": {
												"path": "['recordtype']"
											},
											"sink": {
												"path": "$['recordtype']"
											}
										},
										{
											"source": {
												"path": "['status']"
											},
											"sink": {
												"path": "$['status']"
											}
										},
										{
											"source": {
												"path": "['trandate']"
											},
											"sink": {
												"path": "$['trandate']"
											}
										},
										{
											"source": {
												"path": "['trandisplayname']"
											},
											"sink": {
												"path": "$['trandisplayname']"
											}
										},
										{
											"source": {
												"path": "['tranid']"
											},
											"sink": {
												"path": "$['tranid']"
											}
										},
										{
											"source": {
												"path": "['transactionnumber']"
											},
											"sink": {
												"path": "$['transactionnumber']"
											}
										},
										{
											"source": {
												"path": "['type']"
											},
											"sink": {
												"path": "$['type']"
											}
										},
										{
											"source": {
												"path": "['typebaseddocumentnumber']"
											},
											"sink": {
												"path": "$['typebaseddocumentnumber']"
											}
										},
										{
											"source": {
												"path": "['userevenuearrangement']"
											},
											"sink": {
												"path": "$['userevenuearrangement']"
											}
										},
										{
											"source": {
												"path": "['visibletocustomer']"
											},
											"sink": {
												"path": "$['visibletocustomer']"
											}
										},
										{
											"source": {
												"path": "['void']"
											},
											"sink": {
												"path": "$['void']"
											}
										},
										{
											"source": {
												"path": "['voided']"
											},
											"sink": {
												"path": "$['voided']"
											}
										}
									],
									"collectionReference": "$['items']"
								}
							},
							"inputs": [
								{
									"referenceName": "HTM_Netsuite_SuiteQL",
									"type": "DatasetReference",
									"parameters": {
										"account_id": {
											"value": "@pipeline().parameters.account_id",
											"type": "Expression"
										},
										"offset": {
											"value": "@mul(int(item()),1000)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Legacy_HTM_CashSaleHead",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Post Refresh Token_copy1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://',pipeline().parameters.account_id,'.suitetalk.api.netsuite.com/services/rest/auth/oauth2/v1/token')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/x-www-form-urlencoded",
									"Authorization": {
										"value": "@concat('Basic ', variables('auth'))",
										"type": "Expression"
									}
								},
								"body": {
									"value": "@concat('grant_type=refresh_token&refresh_token=',variables('refresh_token'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"account_id": {
				"type": "String",
				"defaultValue": "3675944"
			},
			"code": {
				"type": "String",
				"defaultValue": "9c40e8439004c9b291e11da13263dcc29f839a2c4684bb6820ad4443c610cb57"
			}
		},
		"variables": {
			"refresh_token": {
				"type": "String",
				"defaultValue": "eyJraWQiOiJjLjM2NzU5NDQuMjAyMS0xMC0wNF8wMC0wOC0xMiIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIzOzU3MzAiLCJhdWQiOlsiRjE2QTczNUUtNUQ1Mi00RDFCLTk1QzUtMUU5MTdENUQwQzAzOzM2NzU5NDQiLCJkMGQxOTJlMmVhNmNkNjMyZjViNTc3NWE3N2RmODM1MWUxZjlhZjQ2M2Y5YmUyYmI1YzQzMTBhOTRiNmNhNmQyIl0sInNjb3BlIjpbInJlc3RsZXRzIiwicmVzdF93ZWJzZXJ2aWNlcyJdLCJpc3MiOiJodHRwczpcL1wvc3lzdGVtLm5ldHN1aXRlLmNvbSIsIm9pdCI6MTYzMzYzNzE0MSwiZXhwIjoxNjM0MjQxOTQxLCJpYXQiOjE2MzM2MzcxNDEsImp0aSI6IjM2NzU5NDQuci1hLjc2ZjExODEyLTFkOWMtNDkzZS1hNmJkLTE1NGJmOWI0YjFmMl8xNjMzNjM3MTQxMzgwLjAifQ.ZK2_AXfNEsu0pYusg0jJAR1DYukWomqf5BmrjzcDt76-tmFKlilDTBzhpp3Lzu3zC_YODv2i_ZsCJc-SqtjAJCuMEqk4ld3UlG1j_uXqteSdYukMQMfPdTAmF3XbQoSqMq0lwfDAMOGm-9uekN1SUgVbcF0jqhsN_pS-It1fJKHFW43LeeedqgVShkqBAcnOF86d2dS2L3tB-98lFuNx_FrMDDJ3gmM34OXKS604wvmffNivX7F1eZnoARbi9vLV0cZUjiL5mLi6riXfzW09JyrwihX9obfcv8vAVsOX7oViucjzP6TPIr02u95N43iUv5T3eV6tEmtm0o9iuSoV0e5iknlKEbk5__WnE0xIaBX2Gwgljhd2a3dly_L3EGfeU0Gra67LHJnDOvpEMqHNZvGr1NUhI_Z6oq05oSbbiP8in7oF2j1iSOkbFY-qoAW9u0pZ-VWSGVM6Ffa9S-5wjQQ0jFOZrMQkXcS0LOI1WQJBQbxNlbDotyRTrONrh8tP55KjZ2LkmsaY634F_l4gTg-HQF7VBaSoFynw6WdsflzhUD8yKGkx5byzCH3KPxKYw0ULMjz6jgKwClZ_Qh_6cNzDC-QnRlQr4XE6aydn8CUpMC9xE1POVjkLIq_ELA5yO3NqWwR1HgLWTrWI0fpt4IuyQ89Hthf9EWsmzOOl-BI"
			},
			"query_string": {
				"type": "String"
			},
			"line_query_string": {
				"type": "String"
			},
			"client_id_base64": {
				"type": "String",
				"defaultValue": "ZDBkMTkyZTJlYTZjZDYzMmY1YjU3NzVhNzdkZjgzNTFlMWY5YWY0NjNmOWJlMmJiNWM0MzEwYTk0YjZjYTZkMjoxNjJiYzljMDQ4MTViNGI3NzhkMDQ4ODEwZWVmOGI3NzZkZjQzYjA0Y2ViMGY3NWMxNzcxN2RiZTY4YmU2OWMy"
			},
			"client_id": {
				"type": "String",
				"defaultValue": "d0d192e2ea6cd632f5b5775a77df8351e1f9af463f9be2bb5c4310a94b6ca6d2"
			},
			"client_secret": {
				"type": "String",
				"defaultValue": "162bc9c04815b4b778d048810eef8b776df43b04ceb0f75c17717dbe68be69c2"
			},
			"auth": {
				"type": "String",
				"defaultValue": "ZDBkMTkyZTJlYTZjZDYzMmY1YjU3NzVhNzdkZjgzNTFlMWY5YWY0NjNmOWJlMmJiNWM0MzEwYTk0YjZjYTZkMjoxNjJiYzljMDQ4MTViNGI3NzhkMDQ4ODEwZWVmOGI3NzZkZjQzYjA0Y2ViMGY3NWMxNzcxN2RiZTY4YmU2OWMy"
			},
			"pages": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "HTM"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-20T16:17:49Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}