pipeline/InforTest1.json
{
	"name": "InforTest1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Infor_Visual",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SinkParquet",
						"type": "DatasetReference",
						"parameters": {
							"file_system": "unified-data-cluster",
							"directory": "Infor/TestData",
							"file_name": {
								"value": "@{variables('TableName')}.parquet",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT     \n    object_name(STAT.object_id) AS ObjectName, \n    USER_SEEKS,\n    USER_SCANS,\n    USER_LOOKUPS,\n    USER_UPDATES,\n    LAST_USER_SEEK,\n    LAST_USER_SCAN,\n    LAST_USER_LOOKUP,\n    LAST_USER_UPDATE\nFROM     SYS.DM_DB_INDEX_USAGE_STATS STAT JOIN\n        SYS.TABLES TAB ON (TAB.OBJECT_ID = STAT.OBJECT_ID)\nWHERE      DATABASE_ID = DB_ID()",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Infor_Visual",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "RECEIVABLE_LINE"
			}
		},
		"folder": {
			"name": "Pulverman Testing"
		},
		"annotations": []
	}
}