pipeline/Initial Table Setup.json
{
	"name": "Initial Table Setup",
	"properties": {
		"activities": [
			{
				"name": "Get EST Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[Config].[usp_GetESTDate]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Modineer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "System Switch",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Get EST Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('SchemaName')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Netsuite",
							"activities": [
								{
									"name": "Raw Data Copy - ADLS2_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": true,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{variables('SchemaName')}.@{variables('TableName')}"
										},
										{
											"name": "Destination",
											"value": "@{'unified-data-cluster'}/@{concat(variables('SchemaName'), '/', variables('TableName'), '/', activity('Get EST Date').output.firstRow.Year, '/', activity('Get EST Date').output.firstRow.Month, '/', activity('Get EST Date').output.firstRow.Day)}/@{concat(variables('TableName'), '-', activity('Get EST Date').output.firstRow.EST)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OdbcSource",
											"query": {
												"value": "SELECT * FROM @{variables('TableName')}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "NetsuiteODBCSource",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "SinkParquet",
											"type": "DatasetReference",
											"parameters": {
												"file_system": {
													"value": "unified-data-cluster",
													"type": "Expression"
												},
												"directory": {
													"value": "@{variables('SchemaName')}/@{variables('TableName')}/@{activity('Get EST Date').output.firstRow.Year}/@{activity('Get EST Date').output.firstRow.Month}/@{activity('Get EST Date').output.firstRow.Day}",
													"type": "Expression"
												},
												"file_name": {
													"value": "@{variables('TableName')}-Initial Load.parquet",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "Plex",
							"activities": [
								{
									"name": "Raw Data Copy - ADLS2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": true,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{variables('SchemaName')}.@{variables('TableName')}"
										},
										{
											"name": "Destination",
											"value": "@{'unified-data-cluster'}/@{concat(variables('SchemaName'), '/', variables('TableName'), '/', activity('Get EST Date').output.firstRow.Year, '/', activity('Get EST Date').output.firstRow.Month, '/', activity('Get EST Date').output.firstRow.Day)}/@{concat(variables('TableName'), '-', activity('Get EST Date').output.firstRow.EST)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "OdbcSource",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "PlexODBC",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@variables('SchemaName')",
													"type": "Expression"
												},
												"TableName": {
													"value": "@variables('TableName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SinkParquet",
											"type": "DatasetReference",
											"parameters": {
												"file_system": {
													"value": "unified-data-cluster",
													"type": "Expression"
												},
												"directory": {
													"value": "@{variables('SchemaName')}/@{variables('TableName')}/@{activity('Get EST Date').output.firstRow.Year}/@{activity('Get EST Date').output.firstRow.Month}/@{activity('Get EST Date').output.firstRow.Day}",
													"type": "Expression"
												},
												"file_name": {
													"value": "@{variables('TableName')}-Initial Load.parquet",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "GloviaProd"
						}
					],
					"defaultActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "Customer"
			},
			"SchemaName": {
				"type": "String",
				"defaultValue": "Netsuite"
			}
		},
		"folder": {
			"name": "Temp"
		},
		"annotations": []
	}
}