pipeline/Initial Table Setup.json
{
	"name": "Initial Table Setup",
	"properties": {
		"activities": [
			{
				"name": "Raw Data Copy - ADLS2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get EST Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{variables('SchemaName')}.@{variables('TableName')}"
					},
					{
						"name": "Destination",
						"value": "@{'unified-data-cluster'}/@{concat(variables('SchemaName'), '/', variables('TableName'), '/', activity('Get EST Date').output.firstRow.Year, '/', activity('Get EST Date').output.firstRow.Month, '/', activity('Get EST Date').output.firstRow.Day)}/@{concat(variables('TableName'), '-', activity('Get EST Date').output.firstRow.EST)}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "PlexODBC",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@variables('SchemaName')",
								"type": "Expression"
							},
							"TableName": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SinkParquet",
						"type": "DatasetReference",
						"parameters": {
							"file_system": {
								"value": "unified-data-cluster",
								"type": "Expression"
							},
							"directory": {
								"value": "@variables('SchemaName')",
								"type": "Expression"
							},
							"file_name": {
								"value": "@variables('TableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get EST Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderStoredProcedureName": "[Config].[usp_GetESTDate]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Modineer",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "Common_v_Customer"
			},
			"SchemaName": {
				"type": "String",
				"defaultValue": "Plex"
			}
		},
		"folder": {
			"name": "Temp"
		},
		"annotations": []
	}
}