pipeline/Plex Data Refresh - Data Count.json
{
	"name": "Plex Data Refresh - Data Count",
	"properties": {
		"activities": [
			{
				"name": "Connection Type",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.item.ConnectionType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "ODBC",
							"activities": [
								{
									"name": "Check For Processing",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OdbcSource",
											"query": {
												"value": "SELECT COUNT(*) AS Count FROM @{pipeline().parameters.item.SchemaName}.@{pipeline().parameters.item.TableName} t1 WHERE @{pipeline().parameters.item.DataQuery} >= CAST('@{pipeline().parameters.item.LastRefreshStart}' AS DATE)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "PlexODBC",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@pipeline().parameters.item.SchemaName",
													"type": "Expression"
												},
												"TableName": {
													"value": "@pipeline().parameters.item.TableName",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "PDR - Process",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Check For Processing",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Plex Data Refresh - Process",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"item": {
												"value": "@pipeline().parameters.item",
												"type": "Expression"
											},
											"DataCount": {
												"value": "@activity('Check For Processing').output.firstRow.Count",
												"type": "Expression"
											},
											"EstDate": {
												"value": "@pipeline().parameters.EstDate",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"item": {
				"type": "object"
			},
			"EstDate": {
				"type": "object"
			}
		},
		"folder": {
			"name": "Master Data/Slave Pipelines/Plex Data Refresh"
		},
		"annotations": []
	}
}